<div class='card'>
  <div class='class-header'>
      Product List
  </div>
<div class='card-body'>
    <div class ='row'>
        <div class='col-md-2'>Filter by:</div>
        <div class='col=nd-4'>
            <input type='text'  (input)="setlistFilter($event)">
        </div>
    </div>
    <div class ='row'>
        <div class='col-md-6'>
            <h4>Filtered by:{{_listFilter}}</h4>
        </div>
    </div>

    
    
    <div class='table-responsive'>
        <table class='table' *ngIf=products.length>
            <thead>
                <tr>
                    <th>
                        <button class='btn btn-primary' (click)="showImg()">{{show ? 'Hide':'Show Image'}}</button>
                        <!-- <button class='btn btn-primary' (click)=" getlistFilter()">Search</button> -->
                        
                    </th>
                    
                    <th>Product</th>
                    <th>Code</th>
                    <th>Available</th>
                    <th>Price</th>
                    <th>Ratings</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor='let product of this.filteredProducts' >
                  <td ><img *ngIf='show'
                    [src]="product.imageUrl"
                    [style.width.px]="width"
                    [style.margin.px]="margin"
                    ></td>
                  <td>{{product.Name}}</td>
                  <td>{{product.code }}</td>
                  <td>{{product.date}}</td>
                  <td>{{product.price |currency:'USD':'symbol':'1.2-2'}}</td>
                  <td>{{product.Rating}}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
