/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

div.card{
    size:large;
    background-color: darkgrey;
}

div.card-body{
    background-color: honeydew;
}



